<h1>悪魔のお告げ</h1>

<%# .presentはseed.rbでやっているうちは不要 %>
<<% if @sweet.present? %>
  <p>今日は<%= @sweet.name %>を捧げよ</p>
  <p><%= @sweet.description %></p>

  <% if @sweet.image.attached? %>
    <%= image_tag @sweet.image, width: "300", height: "200", class: "card-img-top img-fluid" %>
  <% end %>
<% else %>
  <p>お菓子が見つかりませんでした</p>
<% end %>

<%# Xでシェア %>

<p>Xで結果を報告する</p>
<%= link_to "Xで結果を報告する", 
        "https://twitter.com/intent/tweet?text=悪魔に#{@sweet.name}を捧げました！&hashtags=悪魔のお告げ",
        target: "_blank", 
        rel: "noopener noreferrer" %>
<%# GoogleMap検索外部サイトに飛ばす。 %>
<%= link_to "ここに向かい、供物を手に入れよ", 
  "https://www.google.com/maps/search/#{CGI.escape(@sweet.name + ' 販売店')}", 
  target: "_blank",
  class: "btn btn-success" %>

<%# もう一度実行 %>
<%= link_to "別の供物を探す", sweets_path %>
<%= link_to "Topに戻す", static_pages_top_path %>
